<h1>Add WO</h1>

{{ form('wo/add', 'method': 'post') }}
<p>Nama Teknisi {{text_field('name_tech')}}</p> (yang ngambil ont)
<p>No SC {{text_field('no_sc')}}</p>
<p>No Voice {{text_field('no_voice')}}</p>
<p>No Internet {{text_field('no_internet')}}</p>
<p>Koordinat ONT{{text_field('no_internet')}}</p>
<p>ODP WO{{text_field('odp_wo')}}</p>
<p>ODP Real {{text_field('odp_real')}}</p>
<p>Port ODP {{text_field('odp_port')}}</p>
<p>Qrcode port {{text_field('qrcode_port')}}</p>
<p>SN ONT {{text_field('sn_ont')}}</p>
<p>Foto rumah pelanggan</p>
<p>Foto bareng pelanggan</p>
<p>
	{{submit_button('save')}}
	{{link_to('wo/','Cancel')}}
</p>
{{ end_form() }}